body {
    justify-content: center;
    /* color: ; */
    
}
h1 {
    font-family: "Red Hat Display", sans-serif;

}
h2 {
    font-family: 'Red Hat Display', sans-serif;
}
h5 {
    font-family: 'Red Hat Display', sans-serif;
}
.sub-1-parent-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;

}
.sub-2-parent-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 300px;
    padding-top: 200px;
    padding-bottom: 70px;



     
}


p {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
}
button {
    background-color: rgb(77, 150, 168) ;
}
.container-2 {
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}
.logo-container {
    
    text-align: center;
}
.container-4 {
    text-align: center;
    justify-content: space-around;
    padding-bottom: 70px;


}
.button-1 {
    background-color: rgb(77, 150, 168);
    border-radius: 15px;
    width: 120px;
    height: 35px;
    border: 0px;
    

}
.button-2 {
    background-color: rgb(133, 95, 177);
    border-radius: 15px;
    width: 100px;
    height: 35px;
    border: 0px;

}
.button-3 {
    background-color: rgb(133, 95, 177);
    border-radius: 15px;
    width: 120px;
    height: 35px;
    border: 0px;
    
}
.button-3:hover{
    background-color: rgb(217, 184, 255)
}
.button-2:hover{
    background-color: rgb(217, 184, 255)
}

.button-1:hover{
    background-color: rgb(143, 227, 249)
}

.general-footer {
    background-image: url("./utils/assets/images/image-footer.jpg");
    background-color: rgb(77, 150, 168);
    height: 300px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: 0.9;
    
    

}
.inline-footer {
    background-color: rgb(77, 150, 168);
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.9;

    


}

